[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
requests = "*"
scipy = "*"
pandas = "*"
decorator = "*"
xarray = "*"
geopandas = "*"
Shapely = "*"
click = "*"
pyproj = {git = "https://github.com/jswhit/pyproj.git"}


[requires]

python_version = "3"


[dev-packages]

ipython = "*"
notebook = "*"
matplotlib = "*"
pylint = "*"
Cython = "*"
